body {
    margin: 0px;
}

a {
    display: block;
    text-decoration: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: rgba(0, 0, 0, 0.5);
}

a:hover {
    color: rgba(0, 0, 0, 0.9);
}

.container {
    display: flex;
    margin-top: 0px;
    padding: 5px 10px;
}

.grey {
    background-color: lightgray;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    display: flex;
    list-style: none;
}

.navbar-outer {
    align-items: center;
    justify-content: space-between;
}

.nav-btn {
    display: block;
    padding: 0.5rem 1rem;   
}

.nav-btn-active {
    color: rgba(0, 0, 0, 0.9);
}

.btn {
    background-color: lightblue;
    border-color: lightskyblue;
    border-radius: 8px;
    padding: 7.5px;
    margin: 5px;
    width: fit-content;
    font-size: 20px;
}

.btn:hover {
    background-color: rgb(193,236,250);
}

.searchbar {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid;
    margin-right: 0.5rem;
}

.btn-search {

}

.btn-search:hover {
    
}

@media (max-width: 709px) {
    .navbar-collapse {
        display: none;
    }
    .navbar-collapse.show {
        display: block;
        flex-basis: 100%;
        flex-grow: 5;
    }

    .navbar-nav {
        flex-direction: column;
        padding-left: 0px;
        margin-bottom: 0;
    }

    .nav-toggler {
        justify-self: right;
    }
}

@media (min-width: 710px) {
    .navbar-collapse{
        display: flex;
        flex-grow: 1;
        flex-basis: auto;
    }
    .nav-toggler {
        display: none;
    }
}