body {
    margin: 0px;
}

div {
    display: block;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    display: block;
    text-decoration: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: rgba(0, 0, 0, 0.5);
}

a:hover {
    color: rgba(0, 0, 0, 0.9);
}

.roboto-100 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-300 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-500 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.sticky {
    position: sticky;
    top: 0;
}

.container {
    display: flex;
    margin-top: 0px;
    padding: 5px 10px;
}

.grey {
    background-color: rgb(180, 180, 180);
}

.lightgrey {
    background-color: rgb(240, 240, 240);
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    display: flex;
    list-style: none;
}

.navbar-outer {
    align-items: center;
    justify-content: space-between;
}

.navbar-collapse{
        display: flex;
        flex-grow: 1;
        flex-basis: auto;
}

.nav-toggler {
     display: none;
}

.nav-btn {
    display: block;
    padding: 0.5rem 1rem;   
}

.nav-btn-active {
    color: rgba(0, 0, 0, 0.9);
}

.btn {
    background-color: lightblue;
    border-color: lightskyblue;
    border-radius: 8px;
    padding: 7.5px;
    margin: 5px;
    width: fit-content;
    font-size: 20px;
}

.btn:hover {
    background-color: rgb(193,236,250);
}

.searchbar {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid;
    margin-right: 0.5rem;
}

.about-me-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    padding-top: 3rem;

    text-align: center;
}

.profile {
    clip-path: circle();
    margin-bottom: 0.1rem;
}

.title-text {
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: 700;
    line-height: 1.2;
    font-size: calc(1.425rem + 2.1vw)
}

.about-me-text-holder {
    width: 50%;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
}

.about-me-text {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 1rem;
}

.benefits-section {
    padding-bottom: 3rem;

    max-width: 1150px;

    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.benefits-list-container {
    padding-top: 3rem;
    padding-bottom: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    margin-right: 1rem;
    margin-left: 1rem;
}

.benefit {
    width: 80%;
    margin-left: 12.5px;
    margin-right: 12.5px;

    display: flex;
    flex-direction: column;
}

.benefit-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;

    align-items: center;
    justify-content: center;
    display: inline-flex;
}

.benefit-title {
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}

.benefit-description {
    text-align: left;
}

/* Carousel */
.carousel-outer {
    padding: 4rem;
    border-radius: 0.375rem;
    margin: 0;
    border: 0;
    display: block;
}

.carousel-main {
    display: flex;
    position: relative;
    justify-content: center;
}

.carousel-inner {
    position: relative;
    width: 50%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    float: left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}

.active {
    display: block;
}

.carousel-img {
    user-select: none;
    text-anchor: middle;
    width: 100%;
    display: block;
    height: 400;
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    top: 0px;
    left: 15%;
    padding-bottom: 1.25rem;
    text-align: center;
}


@media (max-width: 1400px) {
    .carousel-inner {
        width: 60%;
    }
}

@media (max-width: 1200px) {
    .carousel-inner {
        width: 70%;
    }
}

@media (max-width: 1000px) {
    .carousel-inner {
        width: 80%;
    }
}

@media (max-width: 900px) {
    .benefits-list-container {
        flex-direction: column;
    }

    .carousel-inner {
        width: 90%;
    }
}

@media (max-width: 780px) {
    .navbar-collapse {
        display: none;
    }
    .navbar-collapse.show {
        display: block;
        flex-basis: 100%;
        flex-grow: 5;
    }

    .navbar-nav {
        flex-direction: column;
        padding-left: 0px;
        margin-bottom: 0;
    }

    .nav-toggler {
        display: block;
        justify-self: right;
    }

    .about-me-text-holder {
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    }

    .benefits-section {
        max-width: 750px;
    }

    .benefit {

    }

    .benefit-icon {

    }

    .benefit-title {

    }

    .benefit-description {

    }
}
